/* CSS Reset */
* {
    margin: 0;
    padding: 0;

}

/* CSS Variables */
:root {
    --navbar-height: 59px;


}

/* NAvigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 6.4;
}

/*NAvigation bar: Logo and Image */
#logo {
    margin: 10px 34px;
}

#logoImage {
    height: 122px;
    margin: 7px 2px;
    border-radius: 10px;

}

/* NAvigation bar: List Styling */


#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;

}



#navbar ul li {
    color: whitesmoke;
    list-style: none;
    font-size: 1.5rem;

}

#navbar ul li a {
    color: whitesmoke;

    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}

#navbar ul li a:hover {
    color: black;
    background-color: antiquewhite;


}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url(FUNDO_FOOD-1024x341.png) center center/cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}

#home h1 {
    color: white;
    text-emphasis: none;
    text-align: center;
    font-family: 'PT Serif', serif;

}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;

}


/* Services Section */
#services {
    margin: 34px;
    display: flex;
}

#sevices.box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: rgb(223, 219, 214);


}

#services.box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services.box p {
    font-family: 'PT Serif', serif;



}

/* Clients Section */
#client-section {
    height: 344px;

}

#client-section ::before {
    content: "";
    position: absolute;
    background: url();
    width: 100%;
    height: 100%;


}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;


}

.client-item {
    padding: 34px;
}

#clients img {
    height: 124px;

}




/* Utility Classes */
.h-primary {
    font-family: 'PT Serif', serif;
    font-size: 3.8rem;
    padding: 12px;

}

.h-seondary {
    font-size: 2.3 rem;
    padding: 12px;
    font-family: 'PT Serif', serif;



}

.btnordernow {
    padding: 6px 20px;
    border: 2px solid whitesmoke;
    background-color: rgb(152, 245, 13);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}

.center {
    text-align: center;

}