#overflow {
    background-color: azure;
    border: 3px solid black;
    height: 300px;
    width: auto;
    overflow-y: hidden;
}

#overflow2 {

    padding: 20px;
    background-image: url(deer-3275594__480.png);
    border: 3px solid black;
    height: 300px;
    width: 200px;
    overflow: scroll;

}