p {
    color: burlywood;
    font-size: large;
}

#p3 {
    color: blue;
    font-size: medium;

}

.greentext {
    color: darkgreen;
}

#headerfontsize {
    font-size: 50px;

}

.underHeader {
    text-decoration: underline;
}